body 
{
    margin:0em;
}

.background
{
  background:url("../img/test6.jpg");
  background-size: 100% 100%;
  width:100%;
  height:100%;
  text-align:center;
  background-attachment:fixed;
  position:fixed;
  overflow:auto;
  color:white;
}

.paddingBackground
{
    padding-top: 20%;
}

.contentheader
{
    width: 50em;
    height: 60em;
}

.titleHeader
{
    font-family:;
    font-size: 4em; 
    padding-bottom: 0.3em;
    font-weight:bold;
}

.subHeader
{
    font-family:;
    font-size: 1.2em;
    padding-bottom: 1.5em;
    font-weight:bold;
}

.registerBtn
{
    color: #FFF;
	font-size:  1.2em;
	text-transform: uppercase;
	font-family:arial;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:23%;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	border-radius:4.5px;
    margin:auto;
}

.registerBtn:hover
{
	background-color: rgba(46, 189, 89, 0.8);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(46, 189, 89, 0.9);
}

.learnmoreBtn
{
    color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family:Arial;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:23%;
	background-color: #3b5998;
	border: 2px solid #3b5998;
	border-radius:4.5px;
    margin:auto;
}

.learnmoreBtn:hover
{
    background-color: rgba(59, 89, 152, 0.8);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(59, 89, 152, 0.9);
}

.brand
{
    margin-left:5em;
    color:white !important;
    font-weight:bold;
    font-size:1.8em;
}

.brand:hover
{
    color:#E1EBFF !important;
}

.navbar 
{
    min-height: 4.5em;
    padding-top: 0.5em;
    background:rgba(0,0,0,0.9);
    position:fixed;
}

.groupBtn
{
    text-align:center;
}

/* register page */ 

.backgroundRegister
{
    background:url("../img/reg.jpg");
    background-size:100% 100%;
    width:100%;
    height:100%;
    position:fixed;
}

.paddingRegister
{
    padding: 2em;

}

.titleRegister
{
    font-family:;
    font-size: 4em;
    text-align: center;
    padding:0.5em;
    font-weight:bold;
}

.contentRegister
{
    margin-left:33%;
    margin-right:25%;
    
}

.boxRegister
{
    border: 1px solid black;
    padding-bottom:10%;
    background-color:white;
    box-shadow:3px 3px;
}

.inputField
{
    padding: 0.7em 0.5em;
    width: 27.5em;  
}

.stackButton
{
    float: left;
    margin: 0;
}

.submitRegBtn
{
    color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-family:Arial;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:80%;
	background-color: #3b5998;
	border: 2px solid #3b5998;
	border-radius:4.5px;
    margin-bottom:1em;
}

.submitRegBtn:hover
{
    background-color: rgba(59, 89, 152, 0.8);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(59, 89, 152, 0.9);
}

.cancelBtn
{
    color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-family:Montserrat;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:80%;
	background-color: #F91C1C;
	border: 2px solid #F91C1C;
	border-radius:4.5px;
    margin-bottom:1em;
    text-align:center;
}

.cancelBtn:hover
{
	background-color: rgba(249, 28, 28, 0.7);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(249, 28, 28, 0.8);
}

/* Profile page */

.paddingProfile
{
    padding-left: 20%;
    padding-right: 20%;
}

.contentProfile
{
    border: 1px solid black;
    padding-top:10%;
    padding-bottom:10%;
    background-color:white;
    box-shadow:3px 3px;
}

.profilePicture
{
    padding-bottom:2em;
}

.pp
{
    width:10em;
    height:10em;
    border-radius:20em;
    border:1px solid black;
}

.backgroundProfile
{
  background:url('../img/test6.jpg');
  background-size: 100% 100%;
  width:100%;
  height:100%;
  text-align:center;
  position:fixed;
  overflow:auto;
}

.editBtn
{
    color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-family:arial;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:33.5%;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	border-radius:4.5px;
    margin-left:27.3em;
    margin-bottom:1em;
}

.redBtn
{
    color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-family:Montserrat;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:33.5%;
	background-color: #DA2D2D;
	border: 2px solid #DA2D2D;
	border-radius:4.5px;
    margin-left:27.3em;
    margin-bottom:1em;
}

.redBtn:hover
{
	background-color: rgba(218, 45, 45, 0.7);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(218, 45, 45, 0.8);
}

.submitBtn
{
    color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-family:Arial;
	padding: 0.7em 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	width:33.5%;
	background-color: #3b5998;
	border: 2px solid #3b5998;
	border-radius:4.5px;
    margin-left:27.3em;
    margin-bottom:1em;
    margin:auto;
}

.submitBtn:hover
{
    background-color: rgba(59, 89, 152, 0.8);
	text-decoration: none;
	color: white;
	border: 2px solid rgba(59, 89, 152, 0.9);
}


/* Account page */

.backgroundAccount
{
    text-align: center;
    color:black;
    background:url("../img/test6.jpg");
    background-size:100% 100%;
    width:100%;
    height:100%;
    position:fixed;
}

.paddingAccount
{
    padding-left: 20%;
    padding-right: 20%;
}

.contentAccount
{
    border: 1px solid black;
    padding-top:10%;
    padding-bottom:10%;
    background-color:white;
    box-shadow:3px 3px;
}

.titleAccount
{
    font-family:;
    font-size: 4em;
    text-align: center;
    padding-bottom:1.5em;
    font-weight:bold;
}

.accountLabel
{
    font-family:;
    font-size: 1.2em;
    width: 15em;
    text-align: left;
}

.buttonsAccount
{
    margin-top: 4em;
    margin-bottom: 2em;
}

/* main page */

.paddingBackgroundMain
{
    padding-left:15%;
    padding-right:15%;
}

.itemBackground
{
    border: 1px solid black;
    width: 18em;
    height: 25em;
    margin-left: 1.5em;
    margin-right: 5em;
    margin-bottom: 5em;
    background-color:white;
    box-shadow:3px 3px black;
    border-radius:3px;
}

.itemTitle
{
    height: 2.5em;
    font-family:;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 0.5em;
    border-bottom: 1px solid black;
    background:url("../img/brown.jpg");
    color:white;
}

.itemContent
{
    height: 12em;
    font-family:;
    font-size: 1em;
    padding-top:2em;
    border-bottom: 1px solid black;
    color:black;
    background-size:100% 100%;
    background-color:#FFF;
    text-align:center;
}

.itemCreator
{
    height:2em;
    padding-top:4em;
    padding-bottom:4em;
    font-family:;
    font-size: 1em;
    background-color:#E7E7E7;
    color:black;
    height:auto;
}

.viewNote:hover
{
    text-decoration:none;
}

.itemSquare
{
    background-color:#3071A9;
}

.itemSquare:hover
{
   opacity: .6;
   background-color:#3071A9;
}

.testTable
{
    width:100%;
}

.itemList
{
    width:50%;
    margin-left:12em;
    margin-right:12em;
    margin-top:3%;
}

.filter
{
    margin-bottom:3em;
}

/* note detail page*/

.backgroundDetails
{
    text-align: center;
    color:black;
    background:url("../img/test6.jpg");
    background-size:100% 100%;
    width:100%;
    height:100%;
    position:fixed;
}

.paddingDetails
{
    padding-left: 20%;
    padding-right: 20%;
}

.contentDetails
{
    border: 1px solid black;
    padding-top:10%;
    padding-bottom:10%;
    background-color:white;
    box-shadow:3px 3px;
}

.titleDetail
{
    font-family:;
    font-size: 4em; 
    padding-bottom: 0.3em;
    font-weight:bold;
}

/* Add Notes Page*/

.categoryList
{
    margin:auto;
    width:27.5em;
    padding:0.7em 0.5em;
}