body 
{
    margin:0em;
    height: 692px;
}

.background
{
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  text-align:center;
}

.paddingBackground
{
    padding: 19em;
}

.contentheader
{
    width: 50em;
    height: 60em;
    
}

.titleHeader
{
    font-family:;
    font-size: 4em; 
    padding-bottom: 0.3em;
}

.subHeader
{
    font-family:;
    font-size: 1.2em;
    padding-bottom: 1.2em;
}

// register page

.backgroundRegister
{
    text-align: center;
}

.paddingRegister
{
    padding: 2em;
}

.titleRegister
{
    font-family:;
    font-size: 4em;
    text-align: center;
    padding:0.5em;
}

.contentRegister
{
    margin-left:37%;
    margin-right:40%;
}

.inputField
{
    padding: 0.7em 0.5em;
    width: 27.5em;  
}

.stackButton
{
    float: left;
    margin: 0;
}